<div class="row">
  <center>
    <h1><%=current_user.name%></h1>
    <img src=<%="http://graph.facebook.com/#{current_user.uid}/picture?type=large"%>>
  </center>
</div>

<div class="row">

  <div class="col-xs-4 text-center">
    <h2>Authored</h2>
    <ul class='list-group'>
      <% @authored.each do |haiku| %>
        <li class='list-group-item'>
          <%= render partial: 'haikus/show', locals: {haiku: haiku} %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="col-xs-4 text-center">
    <h2>Favorites</h2>
    <ul class='list-group'>
      <% @favorited.each do |haiku| %>
        <li id=<%="haiku-#{haiku.id}"%> class='list-group-item'>
          <%= render partial: 'haikus/show', locals: {haiku: haiku} %>
          <img class='heart-favorited favorite' src='/heart-favorited.png'>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="col-xs-4 text-center">
    <h2>Recently Liked</h2>
    <ul class='list-group'>
      <% @liked.each do |haiku| %>
        <li class='list-group-item'>
          <%= render partial: 'haikus/show', locals: {haiku: haiku} %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<%= javascript_include_tag 'users', 'data-turbolinks-track' => true %>
