<!DOCTYPE html>
<html>
<head>
  <title>PickAHaiku</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script language="javascript" type="text/javascript" src="haiku_new.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial: 'layouts/nav_bar'%>
  <div class="wrapper">

    <%= yield %>

  </div>
</body>
</html>
